body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main {
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}

.main .content {
    position: relative;
    z-index: 4;
}

.main .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.main .title {
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
}

.main .custom-button {
    background: #0a0a44;
    border-radius: 999px;
    box-shadow: #0a0a44 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    width: fit-content;
    border: 0;
    transition-duration: 0.4s;
}

.main .custom-button:hover {
    background-color: #181875;
    color: white;
}

.footer {
    color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 18px;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}

@media screen and (min-width: 600px) {
    .main .logo {
        width: 25%;
    }

    .main .title {
        font-size: 70px;
        margin-top: 90px;
    }

    .main .button-container {
        display: flex;
        justify-content: center;
    }

    .main .button {
        margin-right: 15px;
        margin-left: 15px;
    }

    .main .custom-button {
        font-size: 20px;
        padding: 15px 40px;
    }

    .footer {   
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .main .logo {
        width: 60%;
    }

    .main .title {
        font-size: 50px;
        margin-top: 60px;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main .button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main .custom-button {
        font-size: 17px;
        padding: 12px 27px;
    }

    .footer {
        font-size: 15px;
    }
}